BODY { font: 9pt Tahoma,Verdana,Arial; margin: 0px; background-color: #fff }
INPUT, BUTTON, SELECT, TEXTAREA, TABLE { font: 8pt Tahoma,Verdana,Arial; }
PRE { font: 8pt; background-color:#dddddd; border: solid 1px #000; margin-top:6px; }

A { color: #0000aa; text-decoration: none; }
A:hover { border-bottom: solid 1px; }

.HeaderTitle { font-size: 14pt; font-weight: bold; vertical-align:bottom; padding-left:10px; background-color:#8ab9f2; 
	background-image:url(img/gradientstart.gif); background-repeat: repeat-y; }
.HeaderLogo { background-color:#8ab9f2; color:#fff; text-align:right; }

.HeaderNav { background-color:#eee; color: #000; padding: 3px 12px 3px 12px; border-right: solid 1px #000; }
.HeaderNavGap { background-color:#eee; color: #000; border-top: solid 1px #000; }
A.HeaderNavA { color: #000 }

.TreeHeader { font-size: 9pt; background-color:#ddd; color: #000; padding: 2px 2px 2px 2px; border-bottom: solid 1px #000; }
A.TreeHeaderClose { font-size: 8pt; font-weight:bold; color: #000; margin-right:4px; padding:0px 1px 1px 2px; }
A.TreeHeaderClose:hover { border: solid 1px #000; }

TR.TreeItem { padding-top:2px; }
A.TreeItemA { font-size:8pt; color: #000; }
SPAN.TreeItemS { font-size:8pt; color: #000; }

A.TreeNodeA { margin-right:5px; }
A.TreeNodeA:hover { border:0px; }

TABLE.LibListTable { border: solid 1px #ddd; width:100%; border-collapse:collapse; }
TD.LibListHeader { background-color:#ddd; font-size: 9pt; font-weight: bold; padding: 4px; }
TD.LibListHeading { font-size: 10pt; font-weight:bold; color:000; padding: 2px; border: solid 1px #000; background-color:#8ab9f2; }
.LibListItem { border: solid 1px #ddd; padding: 4px; vertical-align:top; }
.LibListSubTitle { font-size:9pt; font-weight:bold; font-style:italic; padding-left:10px; padding-top: 6px; }
.LibListSubText { font-size: 9pt; padding-left:10px; padding-top: 6px; }

TABLE.ObjectHeadTable { padding: 4px; border: solid 1px #000; background-color:#8ab9f2; border-collapse:collapse; width:100%; margin-bottom:6px; }
TD.ObjectHeadSub { font-size: 8pt; font-style:italic; }
A.ObjectHeadSub { font-size: 8pt; font-style:italic; }
TD.ObjectHeadHeading { font-size:10pt; font-weight: bold; }

.ObjectHeader { font-size:10pt; font-weight: bold; margin-bottom:3px; margin-top:14px; color:#000; }
.ObjectSubHeader { font-size: 8pt; font-weight: bold; margin-left:10px; margin-bottom:2px; }
.ObjectBody { font-size:8pt; margin-left:10px; margin-bottom:9px; }
.ObjectSubBody { font-size:8pt; margin-left:20px; margin-bottom:9px; }
.ObjectBodyTD { font-size:8pt; padding-left:10px; }
.ObjectBodySubHead { font-weight:bold; margin-left:10px;  }
.ObjectBodySubBody { margin-left:20px; }
.ObjectRef { font-size: 8pt; font-weight: bold; }
LI.Hierarchy { list-style: none; background: url(img/treeend.gif) no-repeat;  background-position: -2px 1px; }
.ObjFuncListTable { border: solid 1px #ddd; width:100%; border-collapse:collapse; margin-bottom:9px; }
