.topbar
{
    width: 100%;
    border: 0px;
    top: 0px;
    left: 0px;
    position: absolute;
}
.topbar td
{
    border: none;
    background-image: url(../img/margin/topbar.jpg);
    background-color: Gray;
    height: 31px;
    text-align: left;
}